@font-face {
  font-family: Iransans;
  font-style: normal;
  font-weight: bold;
  src: url(Fonts/IRANSansWeb_Bold.ttf);
}

@font-face {
  font-family: Iransans;
  font-style: normal;
  font-weight: 200;
  src: url(Fonts/IRANSansWeb_UltraLight.ttf);
}

@font-face {
  font-family: Iransans;
  font-style: normal;
  font-weight: 300;
  src: url(Fonts/IRANSansWeb_Light.ttf);
}

@font-face {
  font-family: Iransans;
  font-style: normal;
  font-weight: 500;
  src: url(Fonts/IRANSansWeb_Medium.ttf);
}
