@import "fonts.css";

:root {
  --primary-color: #f1c50e;
  --secondary-color: #54359d;
}

body {
  font-family: Iransans;
  margin: 0;
  padding: 0;
  direction: rtl;
  background-color: rgb(209, 209, 210);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.main-nav {
  background-color: var(--secondary-color);
  font-size: 0px;
  margin: 20px;
  padding: 15px 10px;
  border-radius: 10px;
  position: relative;
  width: 920px;
  height: 30px;
}

.nav-items {
  color: #fff;
  text-decoration: none;
  line-height: 30px;
  position: relative;
  font-size: 15px;
  display: inline-block;
  margin-left: 30px;
}

.nav-items:hover {
  color: var(--primary-color);
}

.main-nav svg {
  float: left;
  margin-right: 10px;
  line-height: 30px;
}
